<html>
    <head>
        <link rel="stylesheet" href="./views/tute.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
       <h1> Ted's POMS system</h1>
       <h2><img src="thebackground.jpg" alt=""></h2>
       <a type="button" class="btn btn-primary btn-lg" href="/addparcel">Add a parcel</a>
       <a type="button" class="btn btn-primary btn-lg" href="/listparcels">Show all parcels parcels</a>
       <a type="button" class="btn btn-primary btn-lg" href="/deleteparcel">Delete Parcel</a>
       <a type="button" class="btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a>
       <a type="button" class="btn btn-primary btn-lg" href="/deletebyWeight">Delete by weight</a>
       <a type="button" class="btn btn-primary btn-lg" href="/parcelbySender">Filter by sender</a>
       <a type="button" class="btn btn-primary btn-lg" href="/parcelbyWeight">Filter by Weight</a>
    </body>
</html>